*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body{
    background: blue;
    color: magenta;
    overflow-x: hidden;
}

.wrapper{
    max-width: 1000px;
    width: 100vw;
    margin: 0 auto;
    height: auto;
}

nav.navbar{
    margin: 0;
}

.jumbotron{
    padding: 48px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5) !important;
    overflow: hidden;
}

.btn-jumbotron{
    padding: 10px 16px;
    border: 1px solid #459864;
    color: #459864;
    text-decoration: none;
    transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
}

.btn-jumbotron:hover{
    background: #459864;
    color: white;
    text-decoration: none;
}

.jumbotron img{
    position: absolute;
    max-width: 102%;
    left: 0;
    top: -250px;
    z-index: -1;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    position: absolute;
    top: 0;
    left: 100% !important;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
